* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  .layout-padding {
    padding: 10px 40px 40px 40px;
  }
  
  /* Header/logo Title */
  // .header {
  //   width: 100%;
  //   height: 250px;
  //   padding: 70px;
  //   display: flex;
  //   background: #1abc9c;
  //   color: white;
  //   .header-text {
  //       text-align: center;
  //       flex-grow: 2
  //   }
  //   .confirmed-text {
  //       flex-grow: 1;
  //       text-align: center;
  //       width: 200px;
  //       height: 100px;
  //       background-color: red;
  //       animation-name: example;
  //       animation-duration: 1s;
  //       animation-iteration-count: infinite
  //     }
  //   .active-text {
  //       flex-grow: 1;
  //       text-align: center;
  //       width: 200px;
  //       height: 100px;
  //       background-color: red;
  //       animation-name: example;
  //       animation-duration: 1s;
  //       animation-iteration-count: infinite
  //   }
  // }

  .header-text {
    text-align: center;
    flex-grow: 1;
    padding: 20px;
}
.confirmed-text {
    flex-grow: 1;
    text-align: center;
    background-color: black;
    color: white;
  }
.active-text {
    flex-grow: 1;
    text-align: center;
    background-color: white;
    color: black;
}

.adjust-width {
  max-width: inherit !important;
  padding: 10px;
}
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: white;
    text-align: left;
    top: 0;
    justify-content: left;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  

  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  // .navbar a.active {
  //   background-color: #666;
  //   color: white;
  // }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  /* Confirmed cases animation */
  
  @keyframes example {
    from {background-color: red;}
    to {background-color: #1abc9c;}
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .ui-table table {
    border-collapse: separate;
    border-spacing: 4px;
  }

  body .ui-table .ui-table-thead > tr > th {
    border-radius: 6px;
		border: none;
		position: sticky;
		top: 0;
  }

  body .ui-table .ui-table-tbody > tr > td {
    border: none;
		border-radius: 6px;
	}

	.ui-table-resizable>.ui-table-wrapper {
		overflow-x: initial !important;
	}


